<header class="navbar navbar-inverse" role="banner">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand">
        <h2 class=title>
          <a href="/" rel="home">{{site.title}}</a>
          <p class="tagline">{{site.tagline}}</p>
        </h2>
      </div>

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <nav id="main-menu" class="collapse navbar-collapse navbar-right">
      <ul class="nav navbar-nav">
        <!-- <li><a href="#">Projects</a></li> -->
        <!-- <li><a href="#">Photography</a></li> -->
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
  </div>

  <!-- TODO: add a sidebar(?) for twitter feed, networks, about_me -->
</header>
