<!DOCTYPE html>
<html lang="{% if page.lang %} {{page.lang}} {% else %} {{site.lang}} {% endif %}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/custom.css" />

    <title>{% if page.title %}{{page.title}} | {% endif %}~andersonvom</title>
  </head>

  <body>
    <div class="wrapper">
      {% include _header.html %}

      <div class="container">
        <section class="main_content">
          {{ content }}
        </section>
      </div>
    </div>

    {% include _footer.html %}

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    {% include google_analytics.html %}
  </body>
</html>
