<!DOCTYPE html>
<html lang="{% if page.lang %} {{page.lang}} {% else %} {{site.lang}} {% endif %}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />

    <title>{% if page.title %} {{page.title}} | {% endif %} andersonvom.github.io</title>
  </head>

  <body>
    <header>
      <div class="container">
        <h1><a href="/" rel="home">~andersonvom</a></h1>
        <h2>:(){:|:&amp;};:</h2>
      </div>
    </header>

    <div class="container">
      <section class="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
