<!DOCTYPE html>
<html lang="{% if page.lang %} {{page.lang}} {% else %} {{site.lang}} {% endif %}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/libs/bootstrap-3.0.3/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/custom.css" />

    <title>{% if page.title %} {{page.title}} | {% endif %} andersonvom.github.io</title>
  </head>

  <body>
    <header>
      <div class="container">
        <h2 class="title"><a href="/" rel="home">{{site.title}}</a></h2>
        <p class="tagline">{{site.tagline}}</p>
      </div>
    </header>

    <div class="container">
      <section class="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
